html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
}


h2,h3,h4 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}
header{
border-bottom: solid  2px #323232;
}
nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}
.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  flex-shrink: 0;
}
.portrait {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.about-me-container {
  display: flex;
  
}

.about-me-text-container {
  margin-right: var(--spacing-3);
  padding: 0 var(--spacing-4);
}


.project-text-container {
  margin-right: var(--spacing-3);
  padding: 0 var(--spacing-4);
}

.project-image {
  width: 50%;
}



footer {
  
  border-top: solid  2px #323232;
  display: flex;
  justify-content: center;
  padding: var(--spacing-4);
}

section {
  padding: var(--spacing-3) 0;
}


a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

.logo {
  margin: 0;
}


.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skills img{
  height: 100px;
  width: 100px;
}

.contact-button {
  display: flex;
  gap: 10px; 
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.img-button {
  margin-right: 10px; 
  width: 20px; 
  height: 20px;
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
}
